/**
 * Tabs
 */
.rth-stripe-tabs {
    --maxWidth: 968.217px;
}

/** Navigation */
.rth-stripe-tabs ul.navigation {
    display: flex;
    max-width: var(--maxWidth);
    padding: 0 !important;
    margin: 0;

    list-style: none;
    overflow: auto;
}

.rth-stripe-tabs ul.navigation > li {
    padding: 8px 20px;

    cursor: pointer;
    user-select: none;

    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    background-color: #f7f7f7;
    border-collapse: collapse;
}

.rth-stripe-tabs ul.navigation > li:last-of-type {
    border-right: 1px solid #aaa;
}

.rth-stripe-tabs ul.navigation li {
    cursor: pointer;
}

.rth-stripe-tabs ul.navigation li.active {
    cursor: default;
    background: rgb(208, 208, 208);
    color: rgb(0, 0, 0);
}

/** Content */
.rth-stripe-tabs ul.content {
    position: relative;
    width: 100%;
    max-width: var(--maxWidth);
    height: 29px;
    padding: 0 !important;
    margin: 0;

    list-style: none;
}

.rth-stripe-tabs ul.content > li {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/** */
